.header{
  background-color: antiquewhite;
  width: 100%;
  .header_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    .headerHomeLink{
      font-size: 30px;
      color: #720872;
    }
  }
}