.header{
  background-color: antiquewhite;
  position: sticky;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  .header_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    .headerHomeLink{
      font-size: 30px;
      color: #720872;
    }
  }
}