/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/(loginregister)/Validation.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Validation_formContainer__xNMR4 {
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 300px;
  border: 1px solid black;
  background-color: rgba(134, 70, 20, 0.79);
  border-radius: 8px;
  padding: 2%;
}
.Validation_formContainer__xNMR4 .Validation_formTitle__5ESor {
  text-align: center;
  color: #ffffff;
  font-family: Nunito, sans-serif;
  margin-top: 2%;
  margin-bottom: 3%;
}
.Validation_formContainer__xNMR4 .Validation_label__vDtYC {
  color: #ffffff;
  font-family: Poppins, sans-serif;
  font-weight: 400;
}
.Validation_formContainer__xNMR4 .Validation_field__THK0x {
  height: 28px;
  border-radius: 8px;
  border: none;
  padding: 2%;
  outline: none;
}
.Validation_formContainer__xNMR4 .Validation_errorField__T9Ez3 {
  border: 1px solid red;
}
.Validation_formContainer__xNMR4 .Validation_errorLabel__D7cAC {
  color: #750606;
}
.Validation_formContainer__xNMR4 .Validation_submitBtn__g_Fc2 {
  height: 35px;
  margin-top: 7%;
  border: none;
  border-radius: 8px;
  background-color: #ff7400;
  font-size: 19px;
  color: #ffffff;
  transition: all 400ms;
}
.Validation_formContainer__xNMR4 .Validation_submitBtn__g_Fc2:hover {
  background-color: #cc640b;
  cursor: pointer;
}
.Validation_formContainer__xNMR4 .Validation_account__BEd_p {
  text-align: center;
  margin-top: 1%;
  color: #ffffff;
  font-family: Poppins, sans-serif;
}
