.heroLeft{
  width: 40%;
  height: 500px;
  display: flex;
  align-items: center;
  div{
    h1{
      font-weight: 600;
      font-family: "Chakra Petch",sans-serif;
      font-size: 50px;
      line-height: 60px;
      margin-bottom: 10px;
    }
    p{
      font-family: Arial,sans-serif;
      font-weight: 400;
      color: #111111;
    }
  }
}